#difficulty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
    border: #222 2px solid;
    padding: 3vw;
}

#difficulty-title {
    font: 2vw sans;
    font-weight: 900;
    margin-right: 20px;
    color: #222
}

#difficulty-select {
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    margin: 10px 0;
}

#separator {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #222;
}

#reset-button {
    font: 1.5vw sans;
    font-weight: 900;
    padding: 5px 15px;
    margin-top: 25px;
    border: 2px solid #222;
    ;
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
}

#reset-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#win-label {
    font-size: 1.5vw;
    margin-top: 10px;
    animation-duration: 1s;
}

@keyframes bounce {
    0% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.bounce {
    animation-name: bounce;
}